// initialize bootstrap theme
@import 'vendors/bootstrap/functions';
@import 'vendors/bootstrap/variables';

@import 'variables';

@import 'functions/mixin';
@import 'functions/scroll';

// Bootstram mixins
@import 'vendors/bootstrap/mixins';
@import 'vendors/bootstrap/root';
@import 'vendors/bootstrap/reboot';

// Custom Functions
@import 'functions/color';
@import 'functions/convert';
@import 'functions/utilities';
@import 'functions/animation';

@import 'vendors/bootstrap/type';
@import 'vendors/bootstrap/images';
@import 'vendors/bootstrap/code';
@import 'vendors/bootstrap/grid';
@import 'vendors/bootstrap/tables';
@import 'vendors/bootstrap/forms';
@import 'vendors/bootstrap/buttons';
@import 'vendors/bootstrap/transitions';
@import 'vendors/bootstrap/dropdown';
@import 'vendors/bootstrap/button-group';
@import 'vendors/bootstrap/input-group';
@import 'vendors/bootstrap/nav';
@import 'vendors/bootstrap/navbar';
@import 'vendors/bootstrap/card';
@import 'vendors/bootstrap/breadcrumb';
@import 'vendors/bootstrap/pagination';
@import 'vendors/bootstrap/badge';
@import 'vendors/bootstrap/jumbotron';
@import 'vendors/bootstrap/alert';
@import 'vendors/bootstrap/progress';
@import 'vendors/bootstrap/media';
@import 'vendors/bootstrap/list-group';
@import 'vendors/bootstrap/close';
@import 'vendors/bootstrap/modal';
@import 'vendors/bootstrap/tooltip';
@import 'vendors/bootstrap/popover';
@import 'vendors/bootstrap/carousel';
@import 'vendors/bootstrap/utilities';
@import 'vendors/bootstrap/print';
@import 'vendors/bootstrap/custom-forms';

// Cores
@import 'cores/main';
@import 'cores/header';
@import 'cores/nav';
@import 'cores/layout';
@import 'cores/footer';
@import 'cores/projectable';

// Forms
@import 'forms/tabler';
@import 'forms/input';
@import 'forms/filter';
@import 'forms/select-group';
@import 'forms/editor';

// Display
@import 'displays/card';
@import 'displays/avatar';
@import 'displays/chart';
@import 'displays/loading';
@import 'displays/widget';
@import 'displays/pagination';
@import 'displays/list';
@import 'displays/breadcrumb';
@import 'displays/table';
@import 'displays/media';
@import 'displays/article';
@import 'displays/kanban';
@import 'displays/profile';
@import 'displays/drawer';
@import 'displays/timeline';

// Other vendors
@import 'vendors/ant-design/animation';
@import 'vendors/ant-design/select';
@import 'vendors/ant-design/datepicker';
@import 'vendors/ant-design/collapse';
@import 'vendors/ant-design/modal';
@import 'vendors/ant-design/tooltip';
@import 'vendors/ant-design/alert';
@import 'vendors/ant-design/notification';
@import 'vendors/ant-design/inputnumber';
@import 'vendors/bigcalendar';