/* Profile Info */
.avatar-huge {
  border-radius: 5%;
  width: 8.5rem;
  height: 8.5rem;
  line-height: 8.5rem;
  font-size: 3.3rem;
}

.fb-profile-block-menu {
  border: 1px solid rgba(0, 0, 0, 0.05);
  /* box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); */
  border-radius: 0 0 3px 3px;
  height: 44px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.block-menu {
  margin: 0;
  padding: 0;
}

.block-menu .navs {
  border-bottom: 1px solid #e9eaed;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  height: 42px;
  line-height: 3.0;
  padding: 0 17px;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
  color: white;
  text-transform: capitalize;
}

.block-menu .active {
  border-bottom: 3px solid #111d5e;
}

.pointer {
  cursor: pointer;
}